.footer-wrapper {
    background-color: rgb(216, 210, 210);
    color: black;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    color:black;
    text-decoration: none;
}