
html * {
   
    line-height: 1.625;
    
    font-family: 'Playfair Display', serif;
  }
body {
    margin: 0;
}


.auto-height-iframe{
    border: none;
    width: 100%;
    margin: 0;
    
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.headline{
    width: 50%;
    position: absolute;
    z-index: 1;
    color: white;
    
    
}
.shop-button{
    width: 13em;
    height: 3em;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(243, 134, 115);
    color: white;
    letter-spacing: 1px;
}


.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.h2-section{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.875rem;
}



.tabs{
    width: 100%;
    font-size: 0.9em;
    letter-spacing: 2px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif; 
}
.tabs p:hover{
    cursor: pointer;
}
    
    