html * {
   
   margin: 0;
  }
body {
    margin: 0 auto;}

object {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-right: 50px;
    background-color: white;}

.left {
    min-width: 33%;
    justify-content: space-around;
    font-size: 1rem;
    color: black;
    font-family: sans-serif;}

.left div {
    display: inline-flex;
    padding: 1.875rem;
    margin: 0.625rem;
    position: relative; 
}


.left div::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: transparent; 
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateX(-50%);
}


.left div:hover::after {
    width: 100%;
    right: 0;
    background-color: black;
}

.center {
    width: 33%;
    display: flex;
    justify-content: center;
}

.div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 110px;}
.right {
    min-width: 33%;
    width: 10em;
    display: inline-flex;
    justify-content: space-around;
    height: 110px;
    align-items: center;}

.left div a {
    text-decoration: none;
    color: black;}

.logo {
    width: 100px;
    height: 100px;}

form {
    display: inline-flex;}

form input {
    border: none;
    outline: none;
    background-color: lightgray;}

button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;}