.auto-height-iframe, .auto-height-iframe1  {
    border: none;
    margin: 0;
}

.shop-frontpage {
    height: 100%;
    width: 100%;
    display: inline-flex;
}

.shop-content {
    height: 80vh;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    overflow-y: auto;
}

.shop-content div {
    max-height: 425px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-content div figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside-div {
    height: 80vh;

    z-index: 101;
}

#rotating-message {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: rgb(252, 139, 119);
    color: white;
    font-size: 1.475rem;
}