<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop sidebar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/aside.css">
    <script src="../js/checkbox.js" defer></script>
    
</head>
<body>
    
    <object>
     
        
      
        
           
            <div class="shop-container">
                <h2 class="shop-h2">Categories</h2>
                <label for="automatic-weapons">
                    <input type="checkbox" value="automatic-weapons" id="automatic-weapons" />
                    Automatic Weapons
                </label>

                <label for="semi-automatic-weapons">
                    <input type="checkbox" value="semi-automatic-weapons" id="semi-automatic-weapons" />
                    Semi-automatic Weapons
                </label>

                <label for="rifles">
                    <input type="checkbox" value="rifles" id="rifles" />
                    Rifles
                </label>

                <label for="handguns">
                    <input type="checkbox" value="handguns" id="handguns" />
                    Handguns
                </label>

                <label for="grenades">
                    <input type="checkbox" value="grenades" id="grenades" />
                    Grenades
                </label>

                <img width="150px" height="300px" src="../images/products/samuel.webp" alt="">
            </div>
            
            
          
          
   
          
    





    </object>
    
</body>
</html>