<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css" as="style" />
    <script src="../js/javascript.js" defer></script>
  </head>
  <body>
    <object>
      <div class="footer-wrapper">
        <div>
          <figure>
            <img
              src="../images/joseon_big.svg"
              height="12.5"
              width="200"
              alt="miau"
            />
          </figure>
          <ul>
            <li><a target="_parent" href="../index.html">Home</a></li>
            <li><a target="_parent" href="#">Terms and Conditions</a></li>
            <li><a target="_parent" href="#">Privacy Policy</a></li>
            <li><a target="_parent" href="#">Shipping</a></li>
          </ul>
          <ul>
            <li>
              <a href="mailto:joseon@beauty.com">Email: joseon@beauty.com</a>
            </li>
            <li>Phone: +99283775298</li>
            <li>© Beauty of Joseon 2024</li>
            <li>Samcheong-ro, Seoul, Republic of Korea</li>
          </ul>
        </div>
      </div>
    </object>
  </body>
</html>
