<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty of Joseon</title>
    <link rel="stylesheet" href="../css/header.css" as="style">
   <script src="../js/javascript.js" defer></script>
        
</head>
<body>
    <object>
     
        
        <div class="header left">
            <div><a  target="_parent" href="../shop.html">SHOP</a></div>
            <div><a  target="_parent" href="../story.html">STORY</a></div>
            <div><a  target="_parent" href="../retailers.html">RETAILERS</a></div>
            <div><a  target="_parent" href="../boj_rewards.html">BOJ REWARDS</a></div>
        </div>
                                                  
        <div class="header center">
            <a href="../index.html"><img class="logo" src="../images/logo.avif" alt="miaomiao"></a>

        </div>

        <div class="header right">
                <a href=""> <img src="../images/shopping-cart-svgrepo-com.svg" alt="cart"></a>
                <a href=""> <img src="../images/person-circle.svg" alt="profile"></a>
                <form>
                    <input type="text" placeholder="Search" >
                    <button><img src="../images/search.svg" alt="search.svg"></button>
                </form>
        </div>
   
    </object>
    
    
</body>
</html>