<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../css/header.css" >
        
</head>
<body>
    <object>
     
        
        <div class="header left">
            <div><a href="">SHOP</a></div>
            <div><a href="">STORY</a></div>
            <div><a href="">RETAILERS</a></div>
            <div><a href="">BOJ REWARDS</a></div>
        </div>
                                                  
        <div class="header center">
            <a href=""><img class="logo" src="../images/joseon-logo.avif" alt="miaomiao"></a>

        </div>

        <div class="header right">
          
                <a href=""> <img src="../images/person-circle.svg" alt="profile"></a>
                <a href=""> <img src="../images/search.svg" alt="search"></a>
                <a href=""> <img src="../images/shopping-cart-svgrepo-com.svg" alt="cart"></a>
            



        </div>
     
        
    





    </object>
    
    
</body>
</html>